{% extends 'base.html' %}

{% block content %}
    <a href="{% url 'boutique' %}">Retour à la boutique</a>
        <h1>{{ product.name }}</h1>
        <img src="{{ product.thumbnail.url }}" alt="{{thumbnail.name}}">
        <p>Prix : {{ product.prix}} £</p>
        <p> Description  :  {{product.description }}</p>
        <p>stock : {{product.stock }}</p>

        {% if user.is_authenticated %}
        <p>
            <a href="{% url 'add-to-cart' product.slug %}">Ajouter au panier</a>
        </p>
        {% endif %}
      

{% endblock %}